.wrapper{
    width: 100%;
}
.banner{
    &__img {
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
}

.larger {
    margin-top: 110px;
}

.small {
    margin: 40px 44px 0 44px;
}